<div class="container" style="text-align: center;margin:2%">
    <div><h1 *ngIf="edicion==false">Registro de Roles</h1>
      <h1 *ngIf="edicion">Actualización de Roles</h1>
    </div>
    <div>
        <form [formGroup]="form" (submit)="insertar()">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>Código</mat-label>
            <input matInput formControlName="hcodigo" />
          </mat-form-field>
          <br />
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <input matInput formControlName="htipo" (input)="convertirAMayusculas()" />
          <mat-error *ngIf="form.get('htipo')?.hasError('rolInvalido')">
            Rol no permitido. Solo se permiten: DOCTOR, ENFERMERO, CLIENTE, ADMINISTRADOR.
          </mat-error>
          <mat-error *ngIf="form.get('htipo')?.hasError('rolDuplicado')">
            Este rol ya ha sido registrado.
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-flat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  