<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <span style="flex: 1;">TAYTA</span>

  <!-- Botón de notificaciones con badge de cantidad y menú desplegable -->
  <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" matBadge="{{ notifications.length }}" [matBadgeHidden]="notifications.length === 0" matBadgeColor="warn">
    <mat-icon>notifications</mat-icon>
  </button>

  <!-- Botón de perfil con menú desplegable -->
  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of menuItems" [routerLink]="item.route" (click)="sidenav.mode === 'over' && sidenav.toggle()">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Menú desplegable para el perfil -->
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item disabled>Username: {{ username }}</button>
  <button mat-menu-item disabled>Role: {{ role }}</button>
  <button mat-menu-item (click)="modifyProfile()">Modificar perfil</button>
</mat-menu>

<!-- Menú desplegable para las notificaciones -->
<mat-menu #notificationsMenu="matMenu">
  <ng-container *ngIf="notifications.length > 0; else noNotifications">
    <button mat-menu-item *ngFor="let notification of notifications" (click)="openNotificationDialog(notification)">
      Revisar la receta {{ notification.message }}
    </button>
  </ng-container>
  <ng-template #noNotifications>
    <button mat-menu-item disabled>No hay notificaciones</button>
  </ng-template>
</mat-menu>
