<div class="home-container">
  <header>
    <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/Logo.png" alt="">
    <nav>
      <ul>
        <li><a href="#" id="inicio">INICIO</a></li>
        <li><a href="#" id="services">SERVICIOS</a></li>
        <li><a href="#" id="contact">CONTACTANOS</a></li>
      </ul>
    </nav>
    <div class="home-buttons">
      <button [routerLink]="['/login']"><a [routerLink]="['/login']">Login</a></button>
      <button [routerLink]="['/register']"><a [routerLink]="['/register']">Register</a></button>
    </div>

  </header>
  <div class="home-carrusel">
    <div class="carrusel-content">
      <h1>SIEMPRE CONECTADOS</h1>
      <div class="barra1"></div>
      <div class="barra2"></div>
      <div class="carrusel-text">
        <p>Garantizamos tu tranquilidad con nuestro seguimiento continuo</p>
      </div>
      <div class="carrusel-button">
        <button><a href="#" id="conoce-mas">CONOCE MÁS</a></button>
      </div>
    </div>
  </div>

  <div class="home-services">
    <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/Foto-Servicios.png" alt="">
    <div class="servicios-content">
      <div class="servicios1">
        <p>ZONAS SEGURAS PREDEFINIDAS</p>
      </div>

      <div class="servicios2">
        <p>MONITOREO MEDIANTE RELOJ INTELIGENTE 24/7</p>
      </div>

    </div>
  </div>

</div>
<section class="conoce-mas">
  <div class="quienes-somos">
    <div class="text-container">
      <h2>¿Quiénes somos?</h2>
      <p>Somos Eldermy, un emprendimiento enfocado en
        mejorar la calidad de vida de las personas mayores y
        facilitar el trabajo de sus cuidadores a través de las
        herramientas que nos brinda la tecnología actual.
      </p>
    </div>
    <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/quienes-somos.jpg" alt="">
  </div>
  <div class="que-es">
    <div class="img-container">

      <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/que-es-1.png" alt="">
      <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/que-es-2.png" alt="">
    </div>
    <div class="text-container">
      <h2>¿Qué es Tayta?</h2>
      <p>Tayta es un aplicativo móvil que permite establecer un vínculo
        vital entre un adulto mayor y su cuidador mediante un smart
        watch o smart band.
      </p>
      <p>A través de Tayta, los cuidadores podran recibir recordatorios
        sobre medicamentos o citas médicas en tiempo real,
        monitorear los signos vitales en tiempo real y recibir
        notificaciones en caso sea detectado un valor inusual.
      </p>
      <p>Además, mediante la función Zona Segura, podrán asegurarse
        de que su ser querido no salga por su cuenta de su hogar o de
        la zona geográfica designada previamente por el cuidador.
      </p>
    </div>
  </div>
  <div class="porque-usar">
    <h2>¿Por qué usar Tayta?</h2>
    <div class="item-container-wrapper">
      <div class="item-container">
        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/porque-1.png" alt="">
        <div class="text-container">
          <h3>Ubicación en tiempo real</h3>
          <p>Mantenga a sus seres queridos en la Zona Segura que usted haya designado.</p>
        </div>
      </div>
      <div class="item-container">
        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/porque-2.png" alt="">
        <div class="text-container">
          <h3>Monitoreo de Signos Vitales</h3>
          <p>Mantenga a sus seres queridos en la Zona Segura que usted haya designado.</p>
        </div>
      </div>
      <div class="item-container">
        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/porque-3.png" alt="">
        <div class="text-container">
          <h3>Asistente de Voz IA</h3>
          <p>Soporte y compañia para cuidadores y adultos mayores.</p>
        </div>
      </div>
      <div class="item-container">
        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/porque-4.png" alt="">
        <div class="text-container">
          <h3>Recordatorios Médicos</h3>
          <p>Evitamos que olvide citas medicas y dosis de medicamentos gracias a nuestras notificaciones.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="servicios">
  <div class="servicios-container">
    <h1>Nuestros Servicios</h1>
    <h4>Descubre todas las funcionalidades que Tayta tiene para ofrecerte.</h4>
      <div class="servicio-impar">
        <div class="text-container">
          <h2>Monitoreo de Signos Vitales</h2>
          <p>Mediante Tayta podrás hacer un seguimiento de los signos
            vitales del adulto mayor a quien tanto aprecias.
            Aprovechamos la tecnología de sensores que nos ofrecen los
            Smart Watches para permitirte acceder desde tu celular a
            información sobre su ritmo cardíaco, saturación de oxígeno
            y hasta calidad de sueño.
          </p>
        </div>

        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/que-es-1.png" alt="">
      </div>
      <div class="servicio-par">
        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/Zona-Segura.png" alt="">
        <div class="text-container">
          <h2>Función Zona Segura</h2>
          <p>Mediante Tayta podrás consultar la ubicación del
            adulto mayor a tu cargo en tiempo real. Además, con
            la función Zona Segura, podrás asegurarte de que tu
            ser querido no salga del hogar sin compañia,
            evitando peligros a los que puedan exponerse en
            caso se desorienten.
          </p>
        </div>

      </div>
      <div class="servicio-impar">
        <div class="text-container">
          <h2>Recordatorios Médicos</h2>
          <p>Tayta cuenta con una función que le permite ingresar
            tanto las citas médicas próximas como los
            medicamentos que tenga recetados el adulto mayor,
            asegurando así que nunca olviden alguno de estos
            eventos tan importantes para la salud de nuestro ser
            querido.
          </p>
        </div>

        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/Recordatorios.png" alt="">
      </div>
      <div class="servicio-par">
        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/Guia-rutinas.png" alt="">
        <div class="text-container">
          <h2>Guías y Rutinas</h2>
          <p>Sabemos que nuestros adultos mayores se aburren en el
            hogar y que necesitan de actividad para mejorar su
            movilidad y estado de animo. Es por esto que Tayta
            cuenta con un repositorio de rutinas y guías de
            estiramiento y demás actividades para garantizar la
            actividad de aquellos a quienes tanto queremos.
          </p>
        </div>

      </div>
      <div class="servicio-impar">
        <div class="text-container">
          <h2>Asistente de Voz IA</h2>
          <p>Sabemos que no siempre le será posible contactarse
            con aquel mayor a quien tanto aprecia, así como
            también sabemos que todo el mundo necesita
            absolver sus dudas de vez en cuando. Es por eso que
            introducimos con Tayta un asistente de voz mediante
            IA, el cual estará dispuesto a ayudar tanto al adulto
            mayor como a su cuidador cada vez que lo necesiten.
          </p>
        </div>

        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/Asistente-voz.png" alt="">
      </div>

  </div>
</section>
<section class="contacto">
  <div class="contacto-container">
    <h1>¿Tienes dudas u opiniones acerca de Tayta?</h1>
    <h2>¡Contáctanos!</h2>
    <form action="">
      <input type="text" class="input" name="" id="" placeholder="Ingrese su nombre">
      <input type="email" class="input" name="" id="" placeholder="Ingrese su correo">
      <textarea name="" id="" cols="30" rows="10" class="input" placeholder="Ingrese aquí su Mensaje"></textarea>
      <input type="submit" class="input" value="Enviar">
    </form>
    <div class="redes-sociales">
      <p>También puede contactarnos a través de</p>
      <div class="img-redes-sociales">
        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/icono-facebook.png" alt="">
        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/icono-twitter.png" alt="">
        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/icono-instagram.png" alt="">
        <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/icono-whatsapp.png" alt="">
      </div>
    </div>
  </div>
</section>



<footer>
  <img src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/Logo-Footer.png" alt="">
  <nav>
    <ul>
      <li><a href="#" id="footer-inicio">INICIO</a></li>
      <li><a href="#" id="footer-services">SERVICIOS</a></li>
      <li><a href="#" id="footer-contact">CONTACTANOS</a></li>
    </ul>
  </nav>
</footer>
