<div class="home-container">
  <header>
    <img
      src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/Logo-Nuevo.png"
      alt="">
    <nav>
      <ul>
        <li><a href="#" id="inicio">INICIO</a></li>
        <li><a href="#" id="services">SERVICIOS</a></li>
        <li><a href="#" id="contact">CONTACTANOS</a></li>
      </ul>
    </nav>
    <div class="home-buttons">
      <button [routerLink]="['/login']"><a [routerLink]="['/login']">Login</a></button>
      <button [routerLink]="['/register']"><a [routerLink]="['/register']">Register</a></button>
    </div>

  </header>
  <div class="home-carrusel">
    <div class="carrusel-content">
      <h1>SIEMPRE CONECTADOS</h1>
      <div class="barra1"></div>
      <div class="barra2"></div>
      <div class="carrusel-text">
        <p>Garantizamos tu tranquilidad con nuestro seguimiento continuo</p>
      </div>
      <div class="carrusel-button">
        <button><a href="#" id="conoce-mas">CONOCE MÁS</a></button>
      </div>
    </div>
  </div>

</div>
<section class="conoce-mas">
  <div class="quienes-somos">
    <div class="text-container">
      <h2>¿Quiénes somos?</h2>
      <p>Somos Eldermy, un emprendimiento enfocado en
        mejorar la calidad de vida de las personas mayores y
        facilitar el trabajo de sus cuidadores a través de las
        herramientas que nos brinda la tecnología actual.
      </p>
    </div>
    <img
      src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/quienes-somos.jpg"
      alt="">
  </div>
  <div class="que-es">
    <div class="img-container">

      <img
        src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/que-es-nuevo.png"
        alt="">
    </div>
    <div class="text-container">
      <h2>¿Qué es Tayta?</h2>
      <p>Tayta es una aplicación diseñada para conectar de manera directa a los adultos mayores con su equipo médico y
        cuidadores, proporcionando una herramienta integral para la gestión de su salud.</p>
      <p>A través de Tayta, los usuarios recibirán recordatorios sobre citas médicas y dosis de medicamentos en tiempo
        real, asegurando que nunca se olviden de su tratamiento. Además, podrán mantener un monitoreo constante de su
        salud, con notificaciones inmediatas si se detectan valores fuera de lo normal.</p>
      <p>Con soporte 24/7, los cuidadores y médicos estarán siempre disponibles para brindar asistencia, resolver
        dudas y ofrecer orientación en cualquier momento.</p>
    </div>
  </div>
  <div class="porque-usar">
    <h2>¿Por qué usar Tayta?</h2>
    <div class="item-container-wrapper">
      <div class="item-container">
        <img
          src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/porque-5.png"
          alt="">
        <div class="text-container">
          <h3>Registro y Monitorización</h3>
          <p>Mantenemos un registro detallado de su historial médico para facilitar un
            seguimiento constante.</p>
        </div>
      </div>
      <div class="item-container">
        <img
          src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/porque-4.png"
          alt="">
        <div class="text-container">
          <h3>Recordatorios Médicos</h3>
          <p>Evitamos que olvide citas medicas y dosis de medicamentos gracias a nuestras notificaciones.
          </p>
        </div>
      </div>
      <div class="item-container">
        <img
          src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/porque-6.png"
          alt="">
        <div class="text-container">
          <h3>Soporte 24/7</h3>
          <p>Nuestro equipo está disponible las 24 horas, para resolver cualquier duda.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contacto">
  <div class="contacto-container">
    <h1>¿Tienes dudas u opiniones acerca de Tayta?</h1>
    <h2>¡Contáctanos!</h2>
    <form action="">
      <input type="text" class="input" name="" id="" placeholder="Ingrese su nombre">
      <input type="email" class="input" name="" id="" placeholder="Ingrese su correo">
      <textarea name="" id="" cols="30" rows="10" class="input" placeholder="Ingrese aquí su Mensaje"></textarea>
      <input type="submit" class="input" value="Enviar">
    </form>
    <div class="redes-sociales">
      <p>También puede contactarnos a través de</p>
      <div class="img-redes-sociales">
        <img
          src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/icono-facebook.png"
          alt="">
        <img
          src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/icono-twitter.png"
          alt="">
        <img
          src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/icono-instagram.png"
          alt="">
        <img
          src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/icono-whatsapp.png"
          alt="">
      </div>
    </div>
  </div>
</section>

<footer>
  <img
    src="https://raw.githubusercontent.com/IHC-Eldermy-Tayta/Tayta/refs/heads/main/public/assets/images/Logo-Footer.png"
    alt="">
  <nav>
    <ul>
      <li><a href="#" id="footer-inicio">INICIO</a></li>
      <li><a href="#" id="footer-services">SERVICIOS</a></li>
      <li><a href="#" id="footer-contact">CONTACTANOS</a></li>
    </ul>
  </nav>
</footer>
