<div class="container" style="text-align: center;margin:2%">
    <div><h1 *ngIf="edicion==false">Registro de Detalle de Historia Clínica</h1>
      <h1 *ngIf="edicion">Actualización de Detalle de Historia Clínica</h1>
    </div>
    <div>
        <form [formGroup]="form" (submit)="insertar()">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>ID</mat-label>
            <input matInput formControlName="hidDetalleHistoria" />
          </mat-form-field>
          <br />

          <mat-form-field>
            <mat-label>ID Registro Medico</mat-label>
            <mat-select formControlName="hmedicalRecord">
              @for (c of listaId; track c) {
              <mat-option [value]="c.value">{{ c.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>ID Receta</mat-label>
            <mat-select formControlName="hrecipe">
              @for (c of listaReceta; track c) {
              <mat-option [value]="c.value">{{ c.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>ID Cita</mat-label>
            <mat-select formControlName="happointment">
              @for (c of listaCita; track c) {
              <mat-option [value]="c.value">{{ c.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Diagnóstico</mat-label>
            <textarea matInput formControlName="hdiagnostico"></textarea>
          </mat-form-field>
          <br />
        <div>
          <button mat-flat-button class="custom-button" style="background-color: #27AE60; color: #fff;">Registrar</button>
        </div>
      </form>
    </div>
  </div>
