<div class="container">
  <div style="text-align: center;margin: 10%;"><h1>Lista de Citas</h1></div>
  <div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
    <ng-container matColumnDef="c1">
      <th mat-header-cell *matHeaderCellDef> idAppointment </th>
      <td mat-cell *matCellDef="let element"> {{element.idAppointment}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="c2">
      <th mat-header-cell *matHeaderCellDef> date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="c3">
      <th mat-header-cell *matHeaderCellDef> reason </th>
      <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
    </ng-container>

    <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> mode </th>
        <td mat-cell *matCellDef="let element"> {{element.mode}} </td>
      </ng-container>
  
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef> description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element" (click)="eliminar(element.idAppointment)">
          <mat-icon style="color:#eb0a21">delete</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['ediciones',element.idAppointment]">
          <mat-icon style="color:#eb0a21">edit</mat-icon>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</div>