<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="c1">
      <th mat-header-cell *matHeaderCellDef> idActivity </th>
      <td mat-cell *matCellDef="let element"> {{element.idDailyActivities}} </td>
    </ng-container>
  
    <ng-container matColumnDef="c2">
      <th mat-header-cell *matHeaderCellDef> habits </th>
      <td mat-cell *matCellDef="let element"> {{element.habits}} </td>
    </ng-container>
  
    <ng-container matColumnDef="c3">
      <th mat-header-cell *matHeaderCellDef> idUser </th>
      <td mat-cell *matCellDef="let element"> {{element.user.idUser}} </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let element" (click)="eliminar(element.idDailyActivities)">
        <mat-icon style="color:#eb0a21">delete</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let element" [routerLink]="['ediciones',element.idDailyActivities]">
        <mat-icon style="color:#eb0a21">edit</mat-icon>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  